/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.w-sing{

    width: 20rem;
}


.header-section { 
    text-align: left;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/19/22/52/coding-1841550_960_720.jpg");
    background-repeat:no-repeat;
    padding-top: 3rem;


                /*escala la imagen */ 
    background-size:cover;
    color: #ffffff;


                /*sombras 1posicion horizontal 2 posicion vertical de la 3 sombre-desenfoque de la sombre y 4  luego el color */  
    text-shadow: 0.125em 0.25em 0.125em #707070;
    padding: 10rem 9rem;
                
}   


.footer-link{

    text-decoration:none !important; 
    padding: 0.2rem;
    display: block;
  
  
}

