// Place all the styles related to the publications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";


.pr{

    background-color: rgb(35, 36, 36);
    color: rgb(164, 159, 152);
    font-size: 1.2rem;


}



.car{

    margin-bottom: 0.2rem;
    margin-left: 9rem;


}